.container div {
    border: 1px solid tomato;
    height: 50px;
    font-size: 3em;
}
.container {
    display: flex;
    gap: 20px;
    padding: 10px;
}
.box{
    font-size: 4em;
    height: 100px;
    width: 100px;
    border: 2px solid blue;
}
.box-container {
    display: flex;
}
.user-container {
    display: flex;
    gap: 15px;
    padding: 10px;
    justify-content: left;
}
.user {
    font-size: 2em;
    border: 2px solid green;
    height: 80px;
    width: 80px;
}
.card-container {
    display: flex;
    gap: 15px;
    padding: 10px;
    justify-content: left;
    flex-wrap: wrap;
}
